@model CMS.Data.Entities.CategoryProduct

@{
    Layout = "_LayoutAdmin";
}

<div class="container mt-4">

    <h2>Cập nhật danh mục</h2>

    <form asp-action="Edit" method="post" enctype="multipart/form-data">

        <input asp-for="Id" type="hidden" />

        <input asp-for="Name" class="form-control mb-2" />

        <textarea asp-for="Description" class="form-control mb-2"></textarea>

        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="@Model.ImageUrl"
                 style="width:80px;height:80px;object-fit:cover;border-radius:8px;" />
        }

        <input type="file" name="imageFile" class="form-control mt-2" />

        <button class="btn btn-warning mt-3">Cập nhật</button>

    </form>

</div>