@model IEnumerable<CMS.Data.Entities.Product>

<div class="container mt-4">

    <h2 class="text-primary mb-4">
        DANH SÁCH SẢN PHẨM
    </h2>

    <table class="table table-bordered table-hover">

        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Tên Sản Phẩm</th>
                <th>Giá</th>
                <th>Mô Tả</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Description</td>
                </tr>
            }

        </tbody>

    </table>

</div>